extend layout

block content
  h2
    a(href='/') Charts  
  table
    tbody
      tr
        th Name
        th Hourly Rate
        th Charge Out Rate
        th Project Code
      each item, i in data
        tr 
          td #{item.Name}
          td £#{item.Hourly_Rate}
          td £#{item.Charge_Outrate}
          td #{item.Project_Code}  